.sequencer-grid {
  display: grid;
  grid-template-columns: 100px repeat(16, 1fr);
  gap: 16px;
  align-items: center;
}

.instrument-label {
  display: inline-block;
  text-align: left;
  margin-right: 16px;
  width: 100px;
  text-transform: uppercase;
  font-weight: bold;
  border-right: 1px solid #ccc;

  &.kick {
    border-color: var(--kick-color);
    color: var(--kick-color);
  }
  &.snare {
    border-color: var(--snare-color);
    color: var(--snare-color);
  }
  &.hihat {
    border-color: var(--hihat-color);
    color: var(--hihat-color);
  }
  &.cowbell {
    border-color: var(--cowbell-color);
    color: var(--cowbell-color);
  }
}

.step-button {
  width: 100%;
  padding: 16px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;

  &.kick {
    &:hover {
      border-color: color-mix(in srgb, var(--kick-color) 95%, white 5%);
    }
  }
  &.snare {
    &:hover {
      border-color: color-mix(in srgb, var(--snare-color) 95%, white 5%);
    }
  }
  &.hihat {
    &:hover {
      border-color: color-mix(in srgb, var(--hihat-color) 95%, white 5%);
    }
  }
  &.cowbell {
    &:hover {
      border-color: color-mix(in srgb, var(--cowbell-color) 95%, white 5%);
    }
  }

  &.active {
    color: white;
    &.kick {
      background-color: var(--kick-color);
      border-color: color-mix(in srgb, var(--kick-color) 75%, black 25%);
    }
    &.snare {
      background-color: var(--snare-color);
      border-color: color-mix(in srgb, var(--snare-color) 75%, black 25%);
    }
    &.hihat {
      background-color: var(--hihat-color);
      border-color: color-mix(in srgb, var(--hihat-color) 75%, black 25%);
    }
    &.cowbell {
      background-color: var(--cowbell-color);
      border-color: color-mix(in srgb, var(--cowbell-color) 75%, black 25%);
    }
  }
}
