.playhead-container {
  justify-content: center;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 100px repeat(16, 1fr);
  gap: 16px;
}
.playhead-cell {
  z-index: 1;
  font-weight: bold;
  &.playhead-active {
    position: relative;
    color: cyan;
  }
  &.playhead-active:after {
    background-color: cyan;
    /* border: 2px solid darkcyan; */
    border-radius: 6px;
    content: "";
    position: absolute;
    top: 28px;
    left: 0px;
    width: 100%;
    height: 4px;
    opacity: 1;
  }
}
