.sequencer-grid {
  display: grid;
  grid-template-columns: 80px repeat(16, 1fr);
  column-gap: 10px;
  row-gap: 24px;
  gap: 10px;
  align-items: center;
}

.instrument-label {
  display: inline-block;
  text-align: left;
  margin-right: 16px;
  width: 60px;
}
