:root {
  --kick-color: #4deeea;
  --snare-color: #74ee15;
  --hihat-color: #ffe700;
  --cowbell-color: #f000ff;
}

.player-controls {
  display: grid;
  justify-content: center;
  margin-top: 16px;
  gap: 16px;

  > :first-child {
    display: flex;
    justify-content: space-between;
  }
}
