.sequencer-grid {
  display: grid;
  grid-template-columns: 100px repeat(16, 1fr);
  gap: 16px;
  align-items: center;
}

.instrument-label {
  display: inline-block;
  text-align: left;
  margin-right: 16px;
  width: 100px;
  text-transform: uppercase;
  font-weight: bold;
  border-right: 1px solid #ccc;
}

.step-button {
  width: 100%;
  padding: 16px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;

  &.active {
    background-color: #4caf50;
    border-color: #4caf50;
    color: white;
  }
}

.player-controls {
  display: grid;
  justify-content: center;
  margin-top: 16px;
}

.playhead-container {
  justify-content: center;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 100px repeat(16, 1fr);
  gap: 16px;
}
.playhead-cell {
  z-index: 1;
  &.playhead-active {
    position: relative;
  }
  &.playhead-active:after {
    background-color: cyan;
    border: 2px solid darkcyan;
    border-radius: 6px;
    content: "";
    position: absolute;
    top: 0px;
    left: -2px;
    width: 100%;
    height: 4px;
    opacity: 1;
  }
}
